.my-orders-container {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: max-content;
  margin-bottom: 2rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header-underline {
  width: 4rem;
  height: 2px;
  background-color: var(--color-primary); /* customize this */
  border-radius: 9999px;
}

.order-card {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 1.25rem 1rem;
  margin-bottom: 2.5rem;
  max-width: 64rem;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  color: #9ca3af;
  font-weight: 500;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .order-summary {
    flex-direction: row;
    align-items: center;
  }
}

.order-item {
  background-color: #fff;
  color: rgba(107, 114, 128, 0.7);
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .order-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

.order-item.with-border {
  border-bottom: 1px solid #d1d5db;
}

.item-left {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .item-left {
    margin-bottom: 0;
  }
}

.item-image-wrapper {
  background-color: rgba(0, 123, 255, 0.1); /* Customize */
  padding: 1rem;
  border-radius: 0.5rem;
}

.item-image {
  width: 4rem;
  height: 4rem;
}

.item-details {
  margin-left: 1rem;
}

.item-name {
  font-size: 1.25rem;
  font-weight: 500;
  color: #1f2937;
}

.item-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .item-meta {
    margin-left: 2rem;
    margin-bottom: 0;
  }
}

.item-amount {
  color: var(--color-primary); /* Customize */
  font-size: 1.125rem;
  font-weight: 500;
}
